#layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  backdrop-filter: blur(18px)  brightness(120%);
  background-color: #ffffff5c;
}

#layout > div:nth-child(2){
  flex-grow: 1;
}