.button-rounded a {
  display: block;
  max-width: fit-content;
  padding: 0.75rem 1.95rem;
  border: 1px solid #000000;
  border-radius: 50px;
  font-size: 0.95rem;
  font-weight: bold;
  color: #334155;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  box-shadow: 6px 3px 8px #9797977a;
  white-space: break-spaces;
  -webkit-tap-highlight-color: transparent;
}

.button-rounded.yellow a {
  background-color: #ffe01b;
  color: #000000;
}

.button-rounded.black a {
  background-color: #000000;
  color: #ffffff;
}

.button-rounded.white a {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: unset
}

.button-rounded a:active {
  box-shadow: 1px 1px 4px #979797;
  transform: translateY(2.5px);
}

.button-rounded.white a:active {
  box-shadow: unset;
}